<ion-content>
 
    <div class="bg-login">
      <!--OVERLAY-->
      <div class="overlay" >
    <!--LOGO-->
   <div class="center padding-top-5-percent">
     <img src = "../../assets/icon/vlogo.png" class="logo-white-login">
   </div>

    <!--TEXTOS-->
   <div class="mg-top-20" >
     <!--TITULO-->
     <h5 class="curl center bold ">
      BOV
     </h5>
     <!--SUBTITULO-->
     <p class="curl center light no-margin mg-top-5">
       Sistema de gestion ganadera
     </p>
  </div>
  <!--FORMS CTA-->
 
    <br>
    <br>
    <div class="ctalogin center bold mg-top-20" routerLink="/tabs">
      Entrar
    </div>
    <!--RESGISTRAR NUEVA-->
    <br>
    <div class="txtRegistrar light mg-top-20 center" >
      Adminstracion
    </div>
  </div>   
</div>

  
</ion-content>
